:root { 
--gray_900_bf:#171717bf; 
--cyan_A100:#89fffd; 
--lime_500:#b4e931; 
--black_900_6c:#0000006c; 
--gray_900:#171717; 
--gray_900_01:#162719; 
--black_900_90:#00000090; 
--red_200:#caa490; 
--black_900_3f:#0000003f; 
--orange_200:#ffb775; 
--gray_100:#f2f3f2; 
--black_900:#000000; 
--gray_900_7f:#1717177f; 
--purple_A200:#ef32d9; 
}